<div id="card" class="card" style="background-position:<%=item.position%>;background-image:url(<%=item.cover%>);" >
    <a href="<%= item.url %>" target="_blank" rel="noopener">
        <span><%= item.title %></span>
    </a>
</div>