<div id="home-introduction" class="home-introduction">
    <div class="home-introduction-title">
        <p><%-theme.head.title%></p>
    </div>
    <a href="#header" class="home-introduction-aButton"></a>
</div>